
<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>유저 정보</title>
</head>

<body th:align="center">

    <h1>가입된 유저</h1>
    <a href="/main">메인</a>
    <table th:align="center">
        <th>번호</th>
        <th>이름</th>
        <th>이메일</th>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
    
</body>

</html>