<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>메인 페이지</title>
</head>

<body th:align="center">
<h1>메인 페이지</h1>

<div>
    <a th:if="${session['user'].id} == null"
       th:href="@{/user/login}" th:text="로그인"></a>

    <a th:if="${session['user'].id} == null"
       th:href="@{/user/new}" th:text="회원가입"></a>

    <a th:if="${session['user'].id} != null"
       th:href="@{/user/logout}" th:text="로그아웃"></a><br>


    <a th:href="@{/posts}">게시판</a><br>
    <a th:href="@{/user/list}">유저정보</a>
</div>
</body>

</html>